.footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: #333;
    color: #fff;
}

.h3 {
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
}

.a {
    color: #fff;
}

.a:visited {
    color: #fff;
}

.li {
    margin-bottom: 0.8rem;
    list-style: none;
}

.ul {
    margin: 0;
    padding: 0;
}